
.activeTop{
    color: $green !important;
}

#navbarTop{
    height: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    background-color: $backgroundColor;
    ul{    
        margin: 0;    
        list-style:none;
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: $paragraphColor;
            &:visited{
                color: $paragraphColor;
            }
            .active{
                background-color: blue;
                color: red;
            }
        }
    }
}

