
.activeTop{
    color: $green !important;
}

#sidebarRight{
    display: block;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: $backgroundColorLight;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    .closebtnRight {
        all:unset;
        position: absolute;
        top: 0;
        right: 155px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }
    ul{    
        margin: 0;    
        list-style:none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: $paragraphColor;
            &:visited{
                color: $paragraphColor;
            }
            .active{
                background-color: blue;
                color: red;
            }
        }
    }
}

